# Equality In Education And Work Analysis
## by MarcoFAI

# Introduction

For this project I was interested in analysing the equality in education and work using the [Stack Overflow Annual Developer Survey 2021](https://insights.stackoverflow.com/survey). I used the CRISP-DM Process:
1. Business Understanding
2. Data Understanding
3. Prepare Data
4. Data Modeling
5. Evaluate the Results
6. Deploy

# Business Understanding

I am blessed with a healthy body and a healthy mind. I am also heterosexual. Nevertheless, those who cannot enjoy the blessing of health or those who are not heterosexual are also important to me. I constantly hear that they face discrimination and lack of equal opportunities. I wanted to find out how this plays out in areas like education and in jobs by analyzing survey data. In doing so, I came up with the following questions:
 - Do people with physical disabilities have disadvantages in education and work?
 - Do people with mental health issues have disadvantages in education and work?
 - Do not heterosexual people have disadvantages in education and work?
 - Do trans people have disadvantages in education and work?

# Exploratory Data Analysis

## Prepare Data

First of all import libraries and data.

In [1]:
# import library and dataset

import pandas as pd
import seaborn as sns

df = pd.read_csv('./data/stack-overflow-developer-survey-2021/2021 Stack Overflow Survey Responses.csv', encoding="ISO-8859-1")

df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

## Assessing the Data

Columns important for the project:
- **ConvertedCompYearly:** annualized salary of the participant
- **EdLevel:** describes the highest level of formal education that the participant completed
- **Accessibility:** physical limitation of the participant
- **MentalHealth:** mental limitation of the participant
- **Sexuality:** sexuality of the participant
- **Trans:** if the participant is trans

In [2]:
# check for duplicate rows
sum(df.duplicated())

0

In [3]:
# only keep relevant columns
df = df[['ConvertedCompYearly', 'EdLevel', 'Accessibility', 'MentalHealth', 'Sexuality', 'Trans']]

In [4]:
# show shape and columns of dataset
df.shape

(83439, 6)

In [5]:
# info about datatypes and nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ConvertedCompYearly  46844 non-null  float64
 1   EdLevel              83126 non-null  object
 2   Accessibility        77603 non-null  object
 3   MentalHealth         76920 non-null  object
 4   Sexuality            73366 non-null  object
 5   Trans                80678 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.8+ MB

In [6]:
# calculate percentage of missing values per column

percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

ConvertedCompYearly    43.858388
Sexuality              12.072292
MentalHealth            7.812893
Accessibility           6.994331
Trans                   3.309004
EdLevel                 0.375124
dtype: float64

The column 'ConvertedCompYearly' has a lot of missing values.

In [7]:
# information on the annual income 
df.ConvertedCompYearly.describe()

count    4.684400e+04
mean     1.184262e+05
std      5.272944e+05
min      1.000000e+00
25%      2.702500e+04
50%      5.621100e+04
75%      1.000000e+05
max      4.524131e+07
Name: ConvertedCompYearly, dtype: float64

In [8]:
# display all given unique answers regarding accessibility
# multiple answers were possible

df.Accessibility.value_counts()

None of the above                                                                                                                                                                                           72725
Prefer not to say                                                                                                                                                                                            1918
I am blind / have difficulty seeing                                                                                                                                                                          1030
Or, in your own words:                                                                                                                                                                                        842
I am deaf / hard of hearing                                                                                                                                                                                   442
I am unable to / find it difficult to walk or stand without assistance                                                                                                                                        188
I am unable to / find it difficult to type                                                                                                                                                                    160
I am blind / have difficulty seeing;Or, in your own words:                                                                                                                                                     54
I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance                              49
I am deaf / hard of hearing;I am blind / have difficulty seeing                                                                                                                                                45
I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance                                                                                              31
I am unable to / find it difficult to type;Or, in your own words:                                                                                                                                              16
I am blind / have difficulty seeing;I am unable to / find it difficult to type                                                                                                                                 15
I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:       14
I am deaf / hard of hearing;Or, in your own words:                                                                                                                                                             10
I am deaf / hard of hearing;I am unable to / find it difficult to walk or stand without assistance                                                                                                             10
I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:                                                                                                                   9
I am deaf / hard of hearing;I am unable to / find it difficult to type                                                                                                                                          7
I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance                                                           6
I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type                                                                                                      6
I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance                                                                                                      5
I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:                                                                        4
I am deaf / hard of hearing;I am blind / have difficulty seeing;Or, in your own words:                                                                                                                          4
I am blind / have difficulty seeing;I am unable to / find it difficult to type;Or, in your own words:                                                                                                           3
I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance                                                                          2
I am deaf / hard of hearing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance                                                                   2
I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:                                                   2
I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:                                                                               1
I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type;Or, in your own words:                                                                               1
I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:                                    1
I am deaf / hard of hearing;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:                                                                                       1
Name: Accessibility, dtype: int64

In [9]:
# display all given unique answers regarding mental health
# multiple answers were possible

df.MentalHealth.value_counts()

None of the above                                                                                                                                                                                                                                    56459
Prefer not to say                                                                                                                                                                                                                                     3932
I have a concentration and/or memory disorder (e.g. ADHD)                                                                                                                                                                                             3059
I have an anxiety disorder                                                                                                                                                                                                                            2840
I have a mood or emotional disorder (e.g. depression, bipolar disorder)                                                                                                                                                                               2324
I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder                                                                                                                                                    1811
I have autism / an autism spectrum disorder (e.g. Asperger's)                                                                                                                                                                                         1224
Or, in your own words:                                                                                                                                                                                                                                1050
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder                                                                                          1009
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder)                                                                                                                      664
I have a concentration and/or memory disorder (e.g. ADHD);I have an anxiety disorder                                                                                                                                                                   660
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's)                             386
I have a concentration and/or memory disorder (e.g. ADHD);I have autism / an autism spectrum disorder (e.g. Asperger's)                                                                                                                                377
I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have autism / an autism spectrum disorder (e.g. Asperger's)                                                                                                                  197
I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's)                                                                                       191
I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's)                                                                                                                                                               166
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have autism / an autism spectrum disorder (e.g. Asperger's)                                                        115
I have a concentration and/or memory disorder (e.g. ADHD);I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's)                                                                                                     114
I have a concentration and/or memory disorder (e.g. ADHD);Or, in your own words:                                                                                                                                                                        69
I have a mood or emotional disorder (e.g. depression, bipolar disorder);Or, in your own words:                                                                                                                                                          56
I have an anxiety disorder;Or, in your own words:                                                                                                                                                                                                       52
I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder;Or, in your own words:                                                                                                                               36
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:       26
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder;Or, in your own words:                                                                     24
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);Or, in your own words:                                                                                                21
I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:                                                                                                                                                                    20
I have a concentration and/or memory disorder (e.g. ADHD);I have an anxiety disorder;Or, in your own words:                                                                                                                                             11
I have a concentration and/or memory disorder (e.g. ADHD);I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:                                                                                                           9
I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:                                                                                             7
I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:                                                                  3
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:                                   3
I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:                                                                                                                                          3
I have a concentration and/or memory disorder (e.g. ADHD);I have an anxiety disorder;I have autism / an autism spectrum disorder (e.g. Asperger's);Or, in your own words:                                                                                2
Name: MentalHealth, dtype: int64

In [10]:
# display all given unique answers regarding sexuality
# multiple answers were possible

df.Sexuality.value_counts()

Straight / Heterosexual                                                           61094
Prefer not to say                                                                  4783
Bisexual                                                                           2879
Gay or Lesbian                                                                     1367
Prefer to self-describe:                                                           1258
Straight / Heterosexual;Bisexual                                                    492
Queer                                                                               376
Bisexual;Queer                                                                      273
Straight / Heterosexual;Prefer to self-describe:                                    225
Gay or Lesbian;Queer                                                                149
Straight / Heterosexual;Queer                                                        78
Bisexual;Gay or Lesbian                                                              71
Prefer to self-describe:;Queer                                                       61
Bisexual;Gay or Lesbian;Queer                                                        49
Bisexual;Prefer to self-describe:                                                    36
Bisexual;Prefer to self-describe:;Queer                                              26
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer       22
Straight / Heterosexual;Gay or Lesbian                                               21
Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer                                21
Straight / Heterosexual;Bisexual;Gay or Lesbian                                      18
Straight / Heterosexual;Bisexual;Queer                                               15
Prefer to self-describe:;Gay or Lesbian;Queer                                        14
Straight / Heterosexual;Bisexual;Prefer to self-describe:                            11
Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                               10
Straight / Heterosexual;Prefer to self-describe:;Queer                                5
Prefer to self-describe:;Gay or Lesbian                                               5
Bisexual;Prefer to self-describe:;Gay or Lesbian                                      3
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian              2
Straight / Heterosexual;Gay or Lesbian;Queer                                          1
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Queer                       1
Name: Sexuality, dtype: int64

In [11]:
# display all given unique answers regarding being trans

df.Trans.value_counts()

No                        77275
Prefer not to say          1764
Yes                        1035
Or, in your own words:      604
Name: Trans, dtype: int64

## Cleaning The Data
The columns 'Accessibility', 'MentalHealth', 'Sexuality' and 'Trans' have values that we cannot work with. These are the answers 'Or, in your own words:', 'Prefer not to say'. We filter these answers and NaN values out.

In [12]:
df_acc_all = df.dropna(subset=['Accessibility']) # filter out Null values
df_acc_all = df_acc_all[~df_acc_all.Accessibility.isin(['Or, in your own words:', 'Prefer not to say'])] # filter out values we cannot work with

In [13]:
df_mh_all = df.dropna(subset=['MentalHealth']) # filter out Null values
df_mh_all = df_mh_all[~df_mh_all.MentalHealth.isin(['Or, in your own words:', 'Prefer not to say'])] # filter out values we cannot work with

In [14]:
df_str_all = df.dropna(subset=['Sexuality']) # filter out Null values
df_str_all = df_str_all[~df_str_all.Sexuality.isin(['Or, in your own words:', 'Prefer not to say'])] # filter out values we cannot work with

In [15]:
df_trans_all = df.dropna(subset=['Trans']) # filter out Null values
df_trans_all = df_trans_all[~df_trans_all.Trans.isin(['Or, in your own words:', 'Prefer not to say'])] # filter out values we cannot work with

## Exploratory Data Analysis: Analyse and Visualise
### Accessibility
First we will have a look at accessibility. The dataset is divided into 2. In the first dataset are all respondents who did NOT answer that they do NOT have an impairment. In the other are those who have indicated that they do have one.

In [16]:
df_acc = df_acc_all[df_acc_all.Accessibility != 'None of the above'] # Dataset with participants with limitation
df_not_acc = df_acc_all[df_acc_all.Accessibility == 'None of the above'] # Dataset with participants without limitation

In [17]:
print('Number Of Survey Participants With Physical Limitation:', str(df_acc.shape[0])+',', str(round(df_acc.shape[0]/(df_acc.shape[0]+df_not_acc.shape[0]),2))+'%,', '\nNumber Of Survey Participants Without Physical Limitation:', str(df_not_acc.shape[0])+',', str(round(df_not_acc.shape[0]/(df_acc.shape[0]+df_not_acc.shape[0]),2))+'%')

Number Of Survey Participants With Physical Limitation: 2118, 0.03%,
Number Of Survey Participants Without Physical Limitation: 72725, 0.97%

In [18]:
# calculate the mean compensation for both groups 

mean_acc = round(df_acc.ConvertedCompYearly.dropna().mean(), 2)
mean_not_acc = round(df_not_acc.ConvertedCompYearly.dropna().mean(), 2)
 
print('Mean Salary Of Survey Participants With Physical Limitation:', mean_acc, '\nMean Salary Of Survey Participants Without Physical Limitation:', mean_not_acc, '\nDifference:', round(mean_acc-mean_not_acc, 2))

Mean Salary Of Survey Participants With Physical Limitation: 219832.56
Mean Salary Of Survey Participants Without Physical Limitation: 115596.82
Difference: 104235.74

In [19]:
def calc_dist_ed_level(df):
    """
    Calculates the distribution of the degrees of education in the dataset.
    
    input: 
            df: Dataframe for which the distribution of the degrees of education is calculated
    output:
            ed_dist: Distribution of the degrees of education of the dataframe
    """ 
    ed_dist = df['EdLevel'].dropna().value_counts(normalize=True).reset_index()
    ed_dist.rename(columns={'index': 'EdLevel', 'EdLevel': 'count'}, inplace=True)
    ed_dist.set_index('EdLevel', inplace=True)
    return ed_dist

In [20]:
# visualize the differences in degree of education of both groups

mean_acc_perc = calc_dist_ed_level(df_acc) # get the distribution of the degrees of education of participants with limitations
mean_not_acc_perc = calc_dist_ed_level(df_not_acc) # get the distribution of the degrees of education of participants without limitations

comp_df = pd.merge(mean_acc_perc, mean_not_acc_perc, left_index=True, right_index=True) # merge both datasets
comp_df.columns = ['Physically Limited', 'Not Physically Limited'] # rename columns
comp_df['Diff_Ed_Values'] = comp_df['Physically Limited'] - comp_df['Not Physically Limited'] # calculate the differences
comp_df.style.bar(subset=['Diff_Ed_Values'], align='mid', color=['#d65f5f', '#5fba7d']) # plot the columns and the differences

Respondents with a physical limitation have a higher average salary but a lower average educational degree.

## Mental Health
Next we will have a look at mental health. The dataset is divided into 2. In the first dataset are all respondents who did NOT answer that they do NOT have mental health problems. In the other are those who have indicated that they do have one.

In [21]:
df_mh = df_mh_all[df_mh_all.MentalHealth != 'None of the above'] # Dataset with participants with bad mental health
df_not_mh = df_mh_all[df_mh_all.MentalHealth == 'None of the above'] # Dataset with participants with good mental health

In [22]:
print('Number Mentally Battered:', str(df_mh.shape[0])+',', str(round(df_mh.shape[0]/(df_mh.shape[0]+df_not_mh.shape[0]),2))+'%,', '\nNumber Not Mentally Battered:', str(df_not_mh.shape[0])+',', str(round(df_not_mh.shape[0]/(df_mh.shape[0]+df_not_mh.shape[0]),2))+'%')

Number Mentally Battered: 15479, 0.22%,
Number Not Mentally Battered: 56459, 0.78%

In [23]:
# calculate the mean compensation for both groups 

mean_mh = round(df_mh.ConvertedCompYearly.mean(), 2)
mean_not_mh = round(df_not_mh.ConvertedCompYearly.mean(), 2)
 
print('Mean Salary Mentally Battered:', mean_mh, '\nMean Salary Not Mentally Battered:', mean_not_mh, '\nDifference:', round(mean_mh-mean_not_mh, 2))

Mean Salary Mentally Battered: 141374.86
Mean Salary Not Mentally Battered: 110175.55
Difference: 31199.31

In [24]:
# visualize the differences in degree of education of both groups

mean_mh_perc = calc_dist_ed_level(df_mh) # get the distribution of the degrees of education of participants mentally battered
mean_not_mh_perc = calc_dist_ed_level(df_not_mh) # get the distribution of the degrees of education of participants not mentally battered

comp_df = pd.merge(mean_mh_perc, mean_not_mh_perc, left_index=True, right_index=True) # merge both datasets
comp_df.columns = ['Mentally Limited', 'Not Mentally Limited'] # rename columns
comp_df['Diff_Ed_Vals'] = comp_df['Mentally Limited'] - comp_df['Not Mentally Limited'] # calculate the differences
comp_df.style.bar(subset=['Diff_Ed_Vals'], align='mid', color=['#d65f5f', '#5fba7d']) # plot the columns and the differences

The results are similar to those of the physically limited. Respondents with a mental limitation have a higher average salary but a lower average educational degree.

## Sexuality
Thirdly we will have a look at sexuality. The dataset is divided into 2. In the first dataset are all respondents who did NOT answer that they are Straight / Heterosexual. In the other are those who have indicated that they are.

In [25]:
df_not_str = df_str_all[df_str_all.Sexuality != 'Straight / Heterosexual'] # Dataset with not Heterosexual participants
df_str = df_str_all[df_str_all.Sexuality == 'Straight / Heterosexual'] # Dataset with Heterosexual participants

In [26]:
print('Number Not Straight / Heterosexual Participants', str(df_not_str.shape[0])+',', str(round(df_not_str.shape[0]/(df_not_str.shape[0]+df_str.shape[0]),2))+'%,', '\nNumber Straight / Heterosexual Participants', str(df_str.shape[0])+',', str(round(df_str.shape[0]/(df_not_str.shape[0]+df_str.shape[0]),2))+'%')

Number Not Straight / Heterosexual Participants 7489, 0.11%,
Number Straight / Heterosexual Participants 61094, 0.89%

In [27]:
# calculate the mean compensation for both groups 

mean_not_str = round(df_not_str.ConvertedCompYearly.mean(), 2)
mean_str = round(df_str.ConvertedCompYearly.mean(), 2)
 
print('Mean Salary Not Straight / Heterosexual Participants:', mean_not_str, '\nMean Salary Straight / Heterosexual Participants:', mean_str, '\nDifference:', round(mean_not_str-mean_str, 2))

Mean Salary Not Straight / Heterosexual Participants: 138403.13
Mean Salary Straight / Heterosexual Participants: 115701.71
Difference: 22701.42

In [28]:
# visualize the differences in degree of education of both groups

mean_not_str_perc = calc_dist_ed_level(df_not_str) # get the distribution of the degrees of education of Not Straight / Heterosexual participants
mean_str_perc = calc_dist_ed_level(df_str) # get the distribution of the degrees of education of Straight / Heterosexual participants

comp_df = pd.merge(mean_not_str_perc, mean_str_perc, left_index=True, right_index=True) # merge both datasets
comp_df.columns = ['Not Straight / Heterosexual', 'Straight / Heterosexual'] # rename columns
comp_df['Diff_Ed_Vals'] = comp_df['Not Straight / Heterosexual'] - comp_df['Straight / Heterosexual'] # calculate the differences
comp_df.style.bar(subset=['Diff_Ed_Vals'], align='mid', color=['#d65f5f', '#5fba7d']) # plot the columns and the differences

Once again we see a familiar picture. The special group earns more money but has lower average educational degree.

## Transsexuality
Finally we will have a look at transsexuality. The dataset is divided into 2. In the first dataset are all respondents who did answer that they are trans. In the other are those who have indicated that they are not.

In [29]:
df_Trans = df_trans_all[df_trans_all.Trans == 'Yes'] # Dataset with trans participants
df_not_Trans = df_trans_all[df_trans_all.Trans == 'No'] # Dataset without trans participants

In [30]:
print('Number Trans Participants:', str(df_Trans.shape[0])+',', str(round(df_Trans.shape[0]/(df_Trans.shape[0]+df_not_Trans.shape[0]),2))+'%,', '\nNumber Not Trans Participants:', str(df_not_Trans.shape[0])+',', str(round(df_not_Trans.shape[0]/(df_Trans.shape[0]+df_not_Trans.shape[0]),2))+'%')

Number Trans Participants: 1035, 0.01%,
Number Not Trans Participants: 77275, 0.99%

In [31]:
# calculate the mean compensation for both groups 

mean_Trans = round(df_Trans.ConvertedCompYearly.mean(), 2)
mean_not_Trans = round(df_not_Trans.ConvertedCompYearly.mean(), 2)
 
print('Mean Salary Trans Participants:', mean_Trans, '\nMean Salary Not Trans Participants:', mean_not_Trans, '\nDifference:', round(mean_Trans-mean_not_Trans, 2))

Mean Salary Trans Participants: 310826.22
Mean Salary Not Trans Participants: 115441.12
Difference: 195385.1

In [32]:
# visualize the differences in degree of education of both groups

mean_Trans_perc = calc_dist_ed_level(df_Trans) # get the distribution of the degrees of education of trans participants
mean_not_Trans_perc = calc_dist_ed_level(df_not_Trans) # get the distribution of the degrees of education of not trans participants

comp_df = pd.merge(mean_Trans_perc, mean_not_Trans_perc, left_index=True, right_index=True) # merge both datasets
comp_df.columns = ['Trans', 'Not Trans'] # rename columns
comp_df['Diff_Ed_Vals'] = comp_df['Trans'] - comp_df['Not Trans'] # calculate the differences
comp_df.style.bar(subset=['Diff_Ed_Vals'], align='mid', color=['#d65f5f', '#5fba7d']) # plot the columns and the differences

Again the same results. Trans people have a higher average income but a lower average level of education.

# Communicate your Business Insights

A more detailed description and interpretation of the results is written in the following Medium blogpost: https://medium.com/@marco.schlinger/has-equal-opportunity-finally-arrived-in-society-853f4c7e3566

# Conclusions

The same applies to all four groups of people shown: The special group earns more money on average, although their level of education is lower on average. The higher average salary could give the impression that the disadvantages of the special groups have been compensated by society, but a look at the average educational level of the special groups contradicts this. Individuals from these groups are less likely to achieve a university degree, and this can be attributed solely to their particular circumstances. It seems that it is still more difficult for them to obtain a degree than for the average person. But one thing the data also shows is that if someone takes on the challenge of the special situation and learns life lessons from it (for example, persistence, ambition, and discipline), it will pay off in their career and their salary.